body {
    background-image: linear-gradient(140deg, #c3e3f7 0%, #d2d3ec 50%, #aaacf5 75%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #0f102c;
    border: 2px solid #5f5f92;
    border-radius: 16px;
    padding: 8px;
    width: 420px;
    height: 520px;
    gap: 10px;
    box-shadow: 0 0 20px 0px #040404;
    flex-shrink: 0;
    z-index: 1;
}

.display {
    background-color: #e8e8f6;
    border-radius: 10px;
    font-size: 42px;
    font-weight: 600;
    color: #0f102c;
    text-align: right;
    padding: 18px 8px 18px 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: 100%;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 28px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.5;
}

.num-btn {
    background-color: #c2c2fd;
}

.fun-btn {
    background-color: #a3a3e6;
}

.clr-btn, .del-btn {
    background-color: #d08a8a;
}

.ope-btn, .equ-btn {
    background-color: #6666e1;
} 

.ope-btn:focus {
    opacity: 0.4;
}

.error-message {
    position: absolute;
    top: 2%;
    background-color: rgba(254, 209, 209, 0.6);
    color: #6c1818;
    border: 1px solid #a75f5f;
    border-radius: 10px;
    padding: 8px 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.error-message.show {
    opacity: 1;
    z-index: 2;
}

.keyboard-shortcuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 211, 254, 0.95);
    color: #18466c;
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.keyboard-shortcuts.show {
    opacity: 1;
    z-index: 2;
}

.keyboard-shortcuts > h2 {
    text-align: center;
}

li {
    margin-bottom: 15px;
}

kbd {
    background-color: #f7f9fb;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    color: #133e62;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 2px 6px;
}

.shortcuts-btn {
    background-color: transparent;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    color: #0f102c;
    margin-top: 30px;
    cursor: pointer;
    z-index: 3;
}

.shortcuts-btn:hover {
    text-decoration: underline;
}
